@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Open+Sans, sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

header {
    height: 200px;
    background-color: rgba(231, 23, 33, 0.4);
    font-size: 300%;
}

header a {
    text-decoration: none;
    color: inherit;
    margin: 150px;
}

h1, h2{
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-family: Montserrat, sans-serif;
}

h3 {
    line-height: 50px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.bold {
    font-weight: bold;
}
section #web-nav {
    height: 50px;
    background-color: rgba(231, 23, 33, 0.4);
}
#web-nav {
    letter-spacing: 4px;
    font-size: 150%;
    text-transform: uppercase;
}

#web-nav li {
    list-style: none;
    display: inline;
    margin: 70px;
}

#web-nav a {
    color: inherit;
    text-decoration: none;
    
}

#web-nav a:hover {
    background-color: rgb(63, 63, 63);
}

.active {
    background-color: rgb(63, 63, 63)
}

.foreground-color {
    margin: 0% 25%;
    background-color: rgba(231, 23, 33, 0.301);
}

#rest-image {
    height: 900px;
    width: 100%;
    background: url('../images/restaurant.jpg') no-repeat center center;
    margin: auto;
}

#about {
    text-align: center;
    font-size: 120%;
}

#about>p{
    padding: 50px 100px;
    text-align: left;
    letter-spacing: 4px;
    }
#about,
h2 {
    text-align: center;
}

#menu img{
    height: 800px;
   width: 80%;
}

#menu img:hover{
    height: 1000px;
    width: 100%;
}

.contact-center {
   text-align: center;
   margin-left: auto;
   margin-right: auto;
}

#contact-decor a{
    color: inherit;
    text-decoration: none;
}

#contact-decor span:hover {
    font-size: 200%;
}


.socials {
    text-align: center;
}

.socials>li {
    display: inline;
}

.socials i {
    font-size: 160%;
    color: #ffffff;
    list-style: none;
    margin: 100px 150px 0px 150px;
}

footer {
    background-color: rgba(231, 23, 33, 0.4);
    height: 200px;

}

.reserve-form {
    margin: 0% 30%;
    color: #fff;
    max-width: 300px;
    position: relative;
    padding: 30px;
}

.text-input {
    color: #fafafa;
    width: 70%;
    height: 20px;
    border: 1px solid #fafafa;
    border-radius: 2px;
    margin: 5px 0px 20px;
}
.numb-input {
    color: #fafafa;
        width: 50%;
        height: 20px;
        border: 1px solid #fafafa;
        margin: 5px 0px 20px;
        border-radius: 2px;
}

.numb-input:hover {
    border-color: rgb(63, 63, 63);
}

.text-input:hover {
    border-color: rgb(63, 63, 63);
}

.reserve-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px;
    text-align: right;
    font-size: 100%;
    background-color: rgba(231, 23, 33, 0.4);
    color: #fafafa;
    display: block;
    float: right;
}

.reserve-button:hover {
    background-color: rgb(63, 63, 63);
    color: rgba(231, 23, 33, 0.4;
}
{

}
@media screen and (max-width: 1200px)
{}
#web-nav{
    margin: auto;
}
#menu img {
    height: 400px;
}


  